* {
  /* border: 1px solid blue; */
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", sans-serif;
}
h3 {
  font-size: 18px;
  color: rgb(41, 41, 41);
}
.sections-backround {
  background-color: #e0e0e0;
  /* background-color: #eeeeee; */
  padding: 25px 10px;
  border-radius: 30px;
}
.home-container {
  width: 90%;
  max-width: 1328px;
  margin: 0% auto;
}

.background-img {
  /* background-image: url("/home/ajay/Desktop/Real_Projects/portfolio_frontend/public/images/back-img.png"); */
  background-image: url("/portfolio_frontend/public/images/back-img.png"); 
  /* up one This is for dockr image */
    /* background-image: url("/home/user/portfolio_frontend/public/images/back-img.png");  */
    /* up one is for openshift  */
  /* background-image: url("/home/ajmal/Desktop/Real_Projects/Portfolio-Frontend/public/images/back-img.png"); */
  /* background-image: url("images/back-img.png"); */
  /* background-image: url("/images/back-img.png"); */
  /* background-image: url(/public/images/back-img.png); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 550px;
  width: 100%;
  margin: -61px 0 0 0;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  z-index: 2;
}
.background-img-clr {
  background-color: rgba(0, 0, 0, 0.719);
  height: 100%;
  min-height: 550px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -61px 0 0 0;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  z-index: 2;
  overflow: hidden;
}
.background-img-div {
  text-align: center;
  color: white;
  font-size: 18px;
}
.profile-img {
  height: 135px;
  border-radius: 70px;
}
.background-img h1 {
  font-family: "Black Ops One", system-ui;
  font-style: normal;
  font-size: 30px;
  margin: 10px 0;
}
.social-icons {
  font-size: 18px;
}
.social-icons-each {
  margin: 15px;
  cursor: pointer;
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
}
.social-icons-each:hover {
  color: #ff4500;
  border: 1px solid #ff4500;
}
.two-btns-on-back-img {
  font-size: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: #ff4500;
  height: 30px;
  width: 150px;
  padding: 5px;
  border: 1px solid #ff4500;
  margin: 6px 20px;
  cursor: pointer;
}
.two-btns-on-back-img:hover {
  color: white;
  background-color: #ff4500;
}
/* ///////////////// ABOUT SECTION STARTED ////////////////////////// */
.about {
  text-align: center;
  margin: 20px 0;
}
.about h1 {
  font-family: "Black Ops One", system-ui;
  font-style: normal;
  color: #ff4500;
}
.three-engineers {
  font-family: "Black Ops One", system-ui;
  font-style: normal;
  width: fit-content;
  margin: 60px auto 20px 20px;
}
.skillful-tools {
  display: grid;
  grid-template-columns: 50% 50%;
}
.skillful-tools-name-per {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 20px 0px 20px;
  font-size: 18px;
}
.skillful-tools-grey {
  height: 12px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.61);
  margin: 15px 20px;
  overflow: hidden;
}
.skillful-tools-orange {
  height: 12px;
  border-radius: 10px;
  background-color: #ff4400b6;
}
/* MEDIA QUERIES FOR ABOUT  */
@media screen and (max-width: 1000px) {
  h3 {
    font-size: 17px;
  }
}
@media screen and (max-width: 750px) {
  h3 {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  h3 {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .skillful-tools-name-per {
    margin: 14px 14px 0px 14px;
    font-size: 14px;
  }
  .skillful-tools-grey {
    height: 8px;
    margin: 13px 16px;
  }
  .skillful-tools-orange {
    height: 8px;
  }
}
